name: appdelicia_flutter
description: Migración AppDelicia a Flutter (scaffold funcional)
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.5
  cached_network_image: ^3.2.4 # opcional si algunas imágenes están remotas en un futuro
  firebase_core: ^3.6.0        # ← ACTUALIZAR
  cloud_firestore: ^5.4.4      # ← ACTUALIZAR
  firebase_auth: ^5.3.1        # ← ACTUALIZAR

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
